.customize-pane-parent{
	background: #FFF;
}
#customize-theme-controls .accordion-section-title{
	background: transparent;
    margin: 9px 21px;
    color: #111;
    border: 0;
    border-radius: 7px;
}
#customize-controls .control-section .accordion-section-title:hover{
	background: #eeebeb;
	color: #111;
}
#accordion-section-Docs_button .pro-button-secondary{
	position: absolute;
}
#customize-outer-theme-controls .accordion-section-title:after, 
#customize-theme-controls .accordion-section-title:after,
#customize-controls .control-section.control-section-alm_section .accordion-section-title,
#customize-controls .control-section.control-section-alm_section .accordion-section-title:after{
	color: #111;
}
#customize-controls .control-section.control-section-alm_section .accordion-section-title{
	border: 0;
}
.wp-full-overlay-sidebar-content{
	/*background: #fdfbfb;*/
	background: #FFF;
}
#customize-controls .control-section.control-section-alm_section .accordion-section-title:hover, #customize-controls .control-section.control-section-alm_section .accordion-section-title:focus{
	border-left-color: transparent;
}
#customize-controls .control-section.control-section-alm_section .accordion-section-title:hover{
	color: #111;
}
.customize-control-title{
	background: #FFF;
	color: #111;
	Padding: 8px 0;
	text-transform: capitalize;
}
/* Multiple Checkbox */
.customize-control .customize-inside-control-row label{
	font-size: 16px;
	line-height: 16px;
	color: #111;
	margin-top: 21px;
	margin-bottom: 21px;
}
.opn-doc-link{
	font-size: 16px;
	line-height: 21px;
	color: #111;
}
#customize-controls li.customize-control.customize-control-custom_message .description{
	color: #111;
    /*background: #f9fff6;*/
    background: transparent;
    padding: 9px 0;
    font-weight: 500;
    font-style: italic;
}
#customize-controls .description{
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #111;
}
.customize-control input[type=email], 
.customize-control input[type=number], 
.customize-control input[type=password], 
.customize-control input[type=search], 
.customize-control input[type=text], 
.customize-control input[type=url]{
	height: 40px;
}
body.wp-customizer .wp-picker-container{
	max-width: 290px;
}